@import url('../../common/styles/animations.less');

.slider {
  overflow: visible;

  &.slideIn {
    .slideIn();
  }

  .slide {
    height: 70vh;
    max-height: 400px;
    width: calc((70vh / 9) * 16);
    max-width: calc((400px / 9) * 16);

    .title {
      cursor: default;
      color: white;
      text-shadow: 0 2px 6px rgb(0 0 0 / 80%);
      position: absolute;
      width: 100%;
      bottom: 45%;
      transition: 250ms;
      pointer-events: none;
    }

    &:hover .title {
      transform: scale(1.08);
    }
  }
}

.coverImage {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  transition: 250ms;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 40%);
  border: 8px solid white;
  outline: 3px solid black;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 30px 1px rgb(0 0 0 / 60%);
  }
}
