.fadeUp(@duration, @waitTime: 0ms) {
  animation: wait @waitTime, fade-in @duration @waitTime ease-out;
}

.fadeDown(@duration) {
  animation: fade-down @duration ease-in-out;
}

.slideIn(@duration: 1200ms) {
  animation: slide-right @duration;
}

.slideOut(@duration: 1200ms) {
  animation: slide-out-left @duration ease-out;
}

@keyframes wait {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: initial;
  }
}

@keyframes fade-down {
  0% {
    opacity: 1;
    transform: initial;
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }

  80% {
    opacity: 0.6;
  }

  100% {
    transform: initial;
    opacity: 1;
  }
}

@keyframes slide-out-left {
  0% {
    opacity: 1;
    transform: initial;
  }

  60% {
    opacity: 0.2;
  }

  100% {
    transform: translateX(-100vw);
    opacity: 0;
  }
}
