.mediaButton {
  color: #3182ce;
  background-color: white !important;
  padding: 20px 10px;
  border: 2px solid #3182ce;
  border-radius: 6px;
  gap: 8px;
  transition: 150ms;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px 1px lightblue;
  }
}

.audioButton {
  font-size: 18px !important;
  font-weight: bold !important;
}

.modalBody {
  padding: 1rem 1.5rem 1.5rem !important;
}

.title {
  color: #3182ce;
}
